h1{
    color: orange;
    background-color: slategray;
    font-size: 40px;
    text-decoration: underline;
    font-family: Helvetica;
    text-align: center;
}
p{
    color: slategray;
    text-align: left;
    line-height: 30px;
    letter-spacing: 0px;
    columns: 3;
    column-gap: 30px;
}
ul{
    border-bottom: 20px solid crimson;
    border-left: 10px dashed crimson;
}
li{
    list-style-type: square;
    text-shadow: 2px 2px lightblue;
}